# App Port
PORT=
          
# Config Database
DATABASE_URL=

# JWT Secret   
JWT_SECRET=

# JWT Expire
JWT_EXPIRE=

# Default Admin password
DEFAULT_ADMIN_PASSWORD=

# Default User password
DEFAULT_USER_PASSWORD=

# Salt round for hash
SALT_ROUND=